$fore-color: #f60;
$back-color: #203;
$high-color: #fd5;

html {
  font-family: 'ChicagoFLFRegular';
  background-color: $back-color;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  display: block;
  font-family: 'AtNightRegular';
  font-size: 7.5em;
  font-weight: 300;
  color: $fore-color;
  text-shadow: -0.0625em -0.0625em 0 rgba($high-color, 1);
  letter-spacing: -.25em;
  word-spacing: 0.3em;
}

.links {
  padding-top: 1em;
}

.button {
  display: inline-block;
  border: .0625em solid $fore-color;
  box-shadow: -0.0625em -0.0625em 0 $high-color;
  color: $fore-color;
  text-decoration: none;
  padding: .625em 1.875em;
  margin-left: 1em;
  margin-right: 1em;
}

.button:hover {
  background-color: $high-color;
  border-color: $high-color;
  color: $back-color;
}

