@import 'globals';

.container{
  width: 80vw;
}

.blog-text {
  text-align: left;
  * {
    margin-bottom: 1.5rem;
  }
  a:visited {
    color: $dead-color;
  }
  pre {
    overflow: auto;
    font-size: 1.25em;
    tab-size: 2;
    width: 80vw;
    padding: 1em;
    border: 0.25em solid $high-color;
  }
}
